:root {
	--background-color-black: hsl(0, 0%, 8%);
	--background-box-color: hsl(0, 0%, 12%);
	--background-button-color: hsl(0, 0%, 20%);
	--text-white-color: hsl(0, 0%, 100%);
	--bio-color: hsl(75, 94%, 57%);
}

@font-face {
	font-family: "Inter";
	src: url(./assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	font-family: "Inter";
}

main {
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
	background-color: var(--background-color-black);
	color: var(--text-white-color);
}

#social-links {
	height: 540px;
	width: 350px;
	background-color: var(--background-box-color);
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border-radius: 10px;
}

.profile-image img {
	height: auto;
	width: 80px;
	border-radius: 50%;
}

.profile-image {
	margin-bottom: 20px;
}

.details {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 20px;
	gap: 5px;
}
.details h4 {
	font-size: 24px;
	font-weight: 500;
}

.details h5 {
	font-size: 12px;
	color: var(--bio-color);
}

.bio p {
	font-size: 13px;
}

.bio {
	margin-bottom: 20px;
}

.all-links {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100%;
	gap: 14px;
}

.link-button {
	height: 40px;
	width: 100%;
	background-color: var(--background-button-color);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	font-weight: 500;
	transition: 0.2s ease-in-out all;
}

.link-button:hover {
	background-color: var(--bio-color);
	color: var(--background-color-black);
}
